#sticky_box {
  color: white;
  position: sticky;
  top: 10px;
  left: 250px;
  border: white solid 1px;
  width: 200px;
  align-items: center;
  background-color: blue;
}
h2 {
  color: pink;
  text-decoration: dotted underline skyblue;
  letter-spacing: 2px;
  font-size: 30px;
}
body {
  background-color: black;
  color: pink;
}
#username {
  background-color: black;
  color: pink;
}
#password {
  background-color: black;
  color: pink;
}
body {
  font-family: Fantasy;
  text-align: center;
}
#male {
  background-color: black;
}
#text {
  color: pink;
  background-color: black;
  align: right;
}
#intro {
  color: gray;
}
button {
  background-color: black;
  color: pink;
  height: 40px;
  width: 70px;
}
::selection {
  background-color: black;
  color: cornflowerblue;
}

p {
  color: gray;
}
